<h3><%=t "adv_report.advanced_reports"%></h3>
<select id="report">
<% @reports.each do |key, value| %>

  <% full_path = (request.fullpath == "/admin/reports/#{key}") ? 'selected="selected" ' : '' %>
  <% value = send("#{key}_admin_reports_url".to_sym) %>

  <option <%= full_path %> value="<%= value %>">
    <% value_name = value.is_a?(Hash) ? value[:name].downcase.gsub(" ","_") : value.split('/').last.to_s.downcase.gsub(" ","_") rescue nil %>
    <%= t("adv_report."+value_name) rescue nil %>
  </option>
<% end %>
</select>
<div id="advanced_report_search">
  <%= form_for :search do |s| %>
    <% if @stores -%>
        Store:<br /><%= collection_select(:search, :store_id, @stores, :id, :name, { :include_blank => 'All' } ) %><br />
        <br>

    <% end -%>

    <div id="taxon_products">
    <% if @taxons -%>
        <%=t "taxons"%>: <br /><%= collection_select(:advanced_reporting, :taxon_id, @taxons, :id, :name, { :include_blank => 'All' } ) %><br />
    <% end -%>
    <%=t :products%>:<br /><%= collection_select(:advanced_reporting, :product_id, @products, :id, :name, { :include_blank => 'All' } ) %><br />
    </div>

    <%= t("date_range") %><br />
    <div class="yui-g date-range-filter">
      <div class="yui-u sub-field first">
        <%= s.text_field :created_at_gt , :class => 'datepicker'%><br />
        <label class="sub"><%= t("start") %></label>
      </div>
      <div class="yui-u sub-field">
        <%= s.text_field :created_at_lt ,  :class => 'datepicker' %><br />
        <label><%= t("stop") %></label>
      </div>
    </div>

    <p><%= button t("update") %></p>
  <% end -%>
</div>

<% content_for :head do -%>
<%= javascript_include_tag 'admin/jquery.tablesorter.min.js', 'admin/advanced_reporting.js' %>
<%= stylesheet_link_tag 'admin/advanced_reporting' %>
<script type="text/javascript">
var created_at_lt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:created_at_lt]) ? @report.unfiltered_params[:created_at_lt] : '' %>";
var created_at_gt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:created_at_gt]) ? @report.unfiltered_params[:created_at_gt] : '' %>";
</script>
<% end -%>

<% if params[:advanced_reporting] -%>
  <% if params[:advanced_reporting][:product_id] && params[:advanced_reporting][:product_id] != '' -%>
  <input type="hidden" id="product_id" value="<%= params[:advanced_reporting][:product_id] %>" />
  <% end -%>
  <% if params[:advanced_reporting][:taxon_id] && params[:advanced_reporting][:taxon_id] != '' -%>
  <input type="hidden" id="taxon_id" value="<%= params[:advanced_reporting][:taxon_id] %>" />
  <% end -%>
<% end -%>
